<section class="ml-5 mt-5 w-100">
    <table>
        <thead>
            <tr>
                <th class="text-left">Departure Station</th>
                <th class="text-left">Return Station</th>
                <th class="text-left pr-5">Covered km</th>
                <th class="text-left">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trip of trips" class="hover: cursor-pointer">
                <td class="pr-5">{{ trip.departure_station_name }}</td>
                <td class="pr-5">{{ trip.return_station_name }}</td>
                <td>{{ trip.covered_distance_m }}</td>
                <td>{{ trip.duration }}</td>
            </tr>
        </tbody>
    </table>
    <div class="py-5">
        <button class="pr-10" (click)="loadPreviousTrips()"> < Back</button>
        <button (click)="loadNextTrips()">Next ></button>
    </div>
</section>