<div class="flex flex-wrap">
  <div class="ml-5 mt-5 w-[225px]">
    <form (ngSubmit)="searchStations()" #searchForm="ngForm">
      <input
        type="text"
        name="searchBox"
        placeholder="Search stations..."
        [(ngModel)]="searchText"
        class="p-1 border border-gray-300 rounded mb-2"
        #searchInput
      >
    </form>

    <table *ngIf="stationsSearch?.length === 0">
      <thead>
        <tr>
          <th class="text-left pb-2">Station Name</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let station of stations; let i = index"
          (click)="
            selectStation(i);
            selectHeader('StationName');
            openStationDetails(station);
          "
        >
          <td>{{ station.name }}</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="stationsSearch?.length !== 0">
      <thead>
        <tr>
          <th class="text-left">Station Name</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let station of stationsSearch; let i = index"
          (click)="
            selectStation(i);
            selectHeader('StationName');
            openStationDetails(station);
          "
        >
          <td>{{ station.name }}</td>
        </tr>
      </tbody>
    </table>

    <div
    *ngIf="!stationsSearch || stationsSearch.length === 0" 
    class="py-5">
      <button
        *ngIf="currentPage > 1"
        class="pr-10"
        (click)="loadPreviousStations()"
      >
        < Back
      </button>

      <button 
      (click)="loadNextStations()"
      >
      Next > </button>
    </div>
  </div>
</div>
