<div class="station-details ml-5 mt-5">
  <button
        class="py-2"
        (click)="backToStations()"
      >
        < All stations
      </button>
  <table>
    <thead>
      <th class="text-left">{{ station?.nimi }}</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>{{ station?.osoite }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Capacity {{ station?.kapasiteetti }} bikes</p>
        </td>
      </tr>
      <tr class="flex">
        <span class="pr-3">
          <p>Departures {{ departureCount }}</p>
        </span>
        <span>
          <p>Arrivals {{ returnCount }}</p>
        </span>
      </tr>
    </tbody>
  </table>
</div>
